workflows/invoice_processing_pipeline.json
{
  "name": "Invoice processing pipeline",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "875b303d-d76b-4f42-ac7c-0f7f27881e28",
              "leftValue": "={{ $json.status }}",
              "rightValue": "FLAGGED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2208,
        80
      ],
      "id": "af3f16f1-9726-4253-82e5-3ca099690209",
      "name": "If FLAGGED"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Invoice and Intel Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Invoice Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "vendor_name": "={{ $json.vendor_name }}",
            "invoice_number": "={{ $json.invoice_number }}",
            "invoice_date": "={{ $json.invoice_date }}",
            "due_date": "={{ $json.due_date }}",
            "total_amount": "={{ $json.total_amount }}",
            "currency": "={{ $json.currency }}",
            "vat_amount": "={{ $json.vat_amount }}",
            "status": "={{ $json.status }}",
            "flags": "={{ $json.flags }}",
            "processed_at": "={{ $json.processed_at }}",
            "error_type": "={{ $json.error_type }}"
          },
          "matchingColumns": [
            "invoice_number"
          ],
          "schema": [
            {
              "id": "vendor_name",
              "displayName": "vendor_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_date",
              "displayName": "invoice_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "due_date",
              "displayName": "due_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_amount",
              "displayName": "total_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vat_amount",
              "displayName": "vat_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "flags",
              "displayName": "flags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_type",
              "displayName": "error_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2432,
        176
      ],
      "id": "38044cc1-4a7a-459f-bc99-f393dc1ee11d",
      "name": "Append valid invoice details in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -64,
        80
      ],
      "id": "1487aad2-246c-4363-a3f1-841ca35db2a5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        384,
        80
      ],
      "id": "84cea19b-8789-4862-a950-00a120456864",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        608,
        80
      ],
      "id": "14a243c6-0943-46be-81fd-baf96af4a11d",
      "name": "Download invoice file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        832,
        80
      ],
      "id": "373a036a-2459-4afb-9e89-3f7c47f16ea0",
      "name": "Extra info from file"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "content": "=Extract the following fields from this invoice text and return \nONLY valid JSON, no explanation:\n{\n  \"vendor_name\": \"\",\n  \"invoice_number\": \"\",\n  \"invoice_date\": \"\",\n  \"due_date\": \"\",\n  \"total_amount\": 0,\n  \"currency\": \"\",\n  \"vat_amount\": 0,\n  \"line_items\": [],\n  \"anomalies\": []\n}\n\nInvoice text: {{ $json.text }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1056,
        80
      ],
      "id": "786cccaa-50dc-43d8-b54b-7f7d1b294ad0",
      "name": "Retrieve relevant doc info fields",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json?.output;\n\n// Case 6: No output at all\nif (!output || !output[0]?.content?.[0]?.text) {\n  return [{\n    json: {\n      vendor_name: '', invoice_number: '', invoice_date: '',\n      due_date: '', total_amount: 0, currency: '', vat_amount: 0,\n      line_items: [], anomalies: [],\n      status: 'FLAGGED',\n      flags: 'No content extracted — file may be corrupted or empty',\n      parse_error: true,\n      error_type: 'NO_CONTENT'\n    }\n  }];\n}\n\nconst text = output[0].content[0].text.trim();\n\n// Case 2 & 5: OpenAI responded conversationally (no JSON)\nconst looksLikeJson = text.startsWith('{') || text.includes('```json');\nif (!looksLikeJson) {\n  return [{\n    json: {\n      vendor_name: '', invoice_number: '', invoice_date: '',\n      due_date: '', total_amount: 0, currency: '', vat_amount: 0,\n      line_items: [], anomalies: [],\n      status: 'FLAGGED',\n      flags: 'File does not appear to contain invoice data — scanned image or unreadable content',\n      parse_error: true,\n      error_type: 'NOT_INVOICE_CONTENT'\n    }\n  }];\n}\n\n// Attempt JSON parse\nconst clean = text.replace(/```json|```/g, '').trim();\nlet invoice;\ntry {\n  invoice = JSON.parse(clean);\n} catch (e) {\n  // Case 3 & 7: Malformed JSON\n  return [{\n    json: {\n      vendor_name: '', invoice_number: '', invoice_date: '',\n      due_date: '', total_amount: 0, currency: '', vat_amount: 0,\n      line_items: [], anomalies: [],\n      status: 'FLAGGED',\n      flags: 'Could not parse invoice data — file may be a non-invoice document or use unsupported formatting',\n      parse_error: true,\n      error_type: 'PARSE_FAILED'\n    }\n  }];\n}\n\n// Case 4: Partial JSON — fill in missing fields with safe defaults\nconst safeInvoice = {\n  vendor_name:     invoice.vendor_name     ?? '',\n  invoice_number:  invoice.invoice_number  ?? '',\n  invoice_date:    invoice.invoice_date    ?? '',\n  due_date:        invoice.due_date        ?? '',\n  total_amount:    invoice.total_amount    ?? 0,\n  currency:        invoice.currency        ?? '',\n  vat_amount:      invoice.vat_amount      ?? 0,\n  line_items:      invoice.line_items      ?? [],\n  anomalies:       invoice.anomalies       ?? [],\n  parse_error:     false,\n  error_type: invoice.error_type ?? 'NONE'\n};\n\n// Case 1: Everything good\nreturn [{ json: safeInvoice }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        80
      ],
      "id": "db5d5be2-a658-4b6b-9112-196c7ab33434",
      "name": "Clean OpenAI output"
    },
    {
      "parameters": {
        "jsCode": "const invoice = $('Clean OpenAI output').first().json;\nconst flags = [];\nconst lookupData = $('Check for duplicates').first();\nconst isDuplicate = lookupData !== null &&\n                    lookupData.json.invoice_number !== undefined &&\n                    lookupData.json.invoice_number !== '' &&\n                    lookupData.json.invoice_number === invoice.invoice_number;\n\n// 1. Missing required fields\nconst required = ['vendor_name', 'invoice_number', 'invoice_date', 'due_date', 'total_amount', 'currency'];\nfor (const field of required) {\n  if (invoice[field] === undefined || invoice[field] === null || invoice[field] === '') {\n    flags.push(`Missing required field: ${field}`);\n  }\n}\n\n// 2. Amount > €10,000\nif (invoice.total_amount > 10000) {\n  flags.push(`High value invoice: €${invoice.total_amount} exceeds €10,000 threshold`);\n}\n\n// 3. Due date already passed\nif (invoice.due_date) {\n  const due = new Date(invoice.due_date);\n  const today = new Date();\n  today.setHours(0, 0, 0, 0);\n  if (due < today) {\n    flags.push(`Due date has passed: ${invoice.due_date}`);\n  }\n}\n\n// 4. Currency not EUR/USD/GBP\nconst allowedCurrencies = ['EUR', 'USD', 'GBP'];\nif (invoice.currency && !allowedCurrencies.includes(invoice.currency.toUpperCase())) {\n  flags.push(`Unsupported currency: ${invoice.currency}`);\n}\n\n// 5. Duplicate check\nif (isDuplicate) {\n  flags.push(`Duplicate invoice number: ${invoice.invoice_number}`);\n}\n\n// 6. VAT sanity check\nif (invoice.total_amount && invoice.vat_amount) {\n  const expectedVat = invoice.total_amount - (invoice.total_amount / 1.21);\n  const tolerance = 1.00;\n  if (Math.abs(invoice.vat_amount - expectedVat) > tolerance) {\n    flags.push(`VAT mismatch: declared €${invoice.vat_amount}, expected ~€${expectedVat.toFixed(2)}`);\n  }\n}\n\n// 7. Zero amount check\nif (invoice.total_amount === 0 && invoice.error_type === 'NONE') {\n  flags.push('Zero amount invoice — possible extraction error or credit note, requires review');\n}\n\nconst status = flags.length > 0 ? 'FLAGGED' : 'CLEAN';\n\nreturn [{\n  json: {\n    ...invoice,\n    status,\n    flags: flags.join('; '),\n    processed_at: new Date().toISOString(),\n    error_type: invoice.error_type ?? 'NONE'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        80
      ],
      "id": "26c90eb5-9857-4798-ab2f-b2656f9b724f",
      "name": "Apply validation rules"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Search files and folders').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "YOUR_INVOICES_PROCESSED_FOLDER_ID",
          "mode": "list",
          "cachedResultName": "processed",
          "cachedResultUrl": "https://drive.google.com/drive/folders/YOUR_INVOICES_PROCESSED_FOLDER_ID"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2656,
        160
      ],
      "id": "84f1828f-1d1a-4e6d-b230-bddce9c4b811",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Invoice and Intel Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Invoice Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        608,
        -112
      ],
      "id": "9615ebf3-c9f2-49cf-9a13-5498f11f85f9",
      "name": "Retrieve all processed invoices from today",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1120,
        -112
      ],
      "id": "fc478322-f8be-4ba6-8004-d724e26639da",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "GPT-5.4"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a financial operations automation system summarizing invoice processing results.\n\nWrite a professional email to a finance manager summarizing the results below.\n\nRules:\n- Max 250 words\n- Only sum EUR invoices for the total value — exclude JPY or other currencies\n- Report exact counts: total processed, clean, flagged, unprocessable\n- For clean invoices: list vendor name and invoice number\n- Group flags by type and include the vendor name and invoice number for each\n  e.g. \"VAT mismatch: TechSpark Solutions B.V. (INV-2026-00900), DataSync Solutions B.V. (INV-2026-00100)\"\n- For unprocessable files: state error_type, count, and vendor name if available\n- Do not include placeholder text like [Your Name]\n- Sign off as: FinOps Automation System\n- Return plain text only, no markdown\n\nData: {{ JSON.stringify($json.data) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1408,
        -112
      ],
      "id": "d5de0147-d0d5-4abb-80b1-85b199dd08bf",
      "name": "Create invoice processing summary",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Invoice and Intel Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Invoice Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "vendor_name": "={{ $json.vendor_name }}",
            "invoice_number": "={{ $json.invoice_number }}",
            "invoice_date": "={{ $json.invoice_date }}",
            "due_date": "={{ $json.due_date }}",
            "total_amount": "={{ $json.total_amount }}",
            "currency": "={{ $json.currency }}",
            "vat_amount": "={{ $json.vat_amount }}",
            "status": "={{ $json.status }}",
            "flags": "={{ $json.flags }}",
            "processed_at": "={{ $json.processed_at }}",
            "error_type": "={{ $json.error_type }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "vendor_name",
              "displayName": "vendor_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_number",
              "displayName": "invoice_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "invoice_date",
              "displayName": "invoice_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "due_date",
              "displayName": "due_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_amount",
              "displayName": "total_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vat_amount",
              "displayName": "vat_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "flags",
              "displayName": "flags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_type",
              "displayName": "error_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2432,
        -16
      ],
      "id": "48eeea2d-1e51-4053-bd08-c49f2e10a7c6",
      "name": "Append invalid invoice details in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL_ADDRESS",
        "subject": "=📊 Invoice Processing Summary — {{ $now.toFormat('dd MMM yyyy') }}",
        "emailType": "text",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1760,
        -112
      ],
      "id": "aeb12f48-bc68-45a8-9870-184e170f8aa8",
      "name": "E-mail summary of invoice processing",
      "webhookId": "d0ab50ce-d56e-4377-b59f-e1f3a462e74b",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "row_number",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        832,
        -112
      ],
      "id": "2a7d8651-b2a1-4c2e-97bb-7da9525c28bf",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "mimeType='application/pdf' and 'YOUR_INVOICES_INBOX_FOLDER_ID' in parents and trashed=false",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        160,
        80
      ],
      "id": "122ca812-042e-4c6e-bbd4-4b3fbf21323e",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "YOUR_GOOGLE_DRIVE_CREDENTIAL_ID",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Invoice and Intel Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Invoice Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "invoice_number",
              "lookupValue": "={{ $json.invoice_number }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1760,
        80
      ],
      "id": "1141494a-296e-4b94-af77-75d5eb67fda8",
      "name": "Check for duplicates",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If FLAGGED": {
      "main": [
        [
          {
            "node": "Append invalid invoice details in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append valid invoice details in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append valid invoice details in sheet": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Retrieve all processed invoices from today",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download invoice file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download invoice file": {
      "main": [
        [
          {
            "node": "Extra info from file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extra info from file": {
      "main": [
        [
          {
            "node": "Retrieve relevant doc info fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve relevant doc info fields": {
      "main": [
        [
          {
            "node": "Clean OpenAI output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean OpenAI output": {
      "main": [
        [
          {
            "node": "Check for duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply validation rules": {
      "main": [
        [
          {
            "node": "If FLAGGED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve all processed invoices from today": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Create invoice processing summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create invoice processing summary": {
      "main": [
        [
          {
            "node": "E-mail summary of invoice processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append invalid invoice details in sheet": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "E-mail summary of invoice processing": {
      "main": [
        []
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for duplicates": {
      "main": [
        [
          {
            "node": "Apply validation rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "32b26e50-8adb-4b71-96af-bf01a6576a1b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "id": "lldp4rMVqbp5vpPQ",
  "tags": []
}